.navbar {
    
    padding: 10px;
    padding-bottom: 15px;
    background-color: #677E9C;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid rgb(72, 60, 60);

}


.navbar_left {
    grid-column: 1;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.navbar_right {
    grid-column: 2;

    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    
}
.logo {
    font-style: italic;
    font-family: "brush script mt", cursive;
    font-size: 50px;
    font-weight: 600;
    padding: 5px;
}

.linkstyle {
    color: black;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    
}

.user_linkstyle {
    border: none;
    margin: 0px;
    /* color: #c8d8e4; */
    padding: 10px;
    font-family: Arial;
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
    background-color: #dfe8f3;
    border-radius: 15px;
}

.linkstyle:hover {
    text-decoration: none;
    background-color: #dfe8f3;
    border-radius: 15px;
}

.user_linkstyle:hover {
    text-decoration: none;
    background-color: #abbacd;

}

