.container{
    margin-top: 5px;
    
    width: 900px;
    display: block;
    margin: auto;
    padding: 10px;
    
}

.arrow{
    width:300px;
    height: 150px;
}

.title {
    padding-top: 20px;
    font-family: "Courier", monospace;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #23201f;
    
}

.instructions {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #2b6777;
    margin-bottom: 10px;
    
}

.instr1 {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 30px;
    grid-column: 1;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    align-self: center;
    text-align: center;
    background-color: #98b6be;
    color: #294255;
}
.instr2 { 
    /* border: solid; */
    grid-column: 2;
}

.instr3 {
    /* border: solid; */
    grid-column: 3;
}

.icon {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
    outline: solid;
    outline-color: #2b6777;
}

.button2 {

    font-size: 22px;
    font-style: italic;
    color: rgb(113, 112, 103);
    padding: 5px;
    text-align: center;
    
    
}

.general{
    background-color: #c8d8e4;
    min-height: 100px;
}
