.general_info {
    margin-top: 10px;
    height: 200px;
    background-color: #91cbdb;
    box-shadow: 2px 6px 4px  #78939b;
    overflow: hidden;  
}

.img {
    /* margin: 5px; */
    /* object-fit: contain; */
    /* height: 200px; */
    /* overflow: hidden; */
}

.container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.categories {
    grid-column: 1;
    margin: 2px;
    background-color: #91cbdb;
}

.recipe_list {
    grid-column: 2;
    margin: 2px;;
    background-color: aquamarine;
}

.list_container {
    background-color: #91cbdb;
    display: grid;
}